<div>
   
    <div class="box">
        <h1>Conversor de Medidas</h1>
        <form>
          <div>
            <select id="fromUnit" name="fromUnit" [(ngModel)]="fromUnit">
              <option value="cm">Centímetros</option>
              <option value="m">Metros</option>
              <option value="km">Quilômetros</option>
            </select>
             <br>
             <br>
            <input type="number" id="inputValue" name="inputValue" [(ngModel)]="inputValue">
          </div>
      <br>
          <div>
            <select id="toUnit" name="toUnit" [(ngModel)]="toUnit">
              <option value="cm">Centímetros</option>
              <option value="m">Metros</option>
              <option value="km">Quilômetros</option>
            </select>
            <br>
            <br>
            <input type="number" id="convertedValue" name="convertedValue" [(ngModel)]="convertedValue" readonly>
          </div>
          <br>
          <button type="button" (click)="convert()">Converter</button>
          <br>
          <button type="button" (click)="limpar()">Limpar(C)</button>
        </form>
      </div>